.button_heart {
    background-image: url(../../../images/elements/iconHeart.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
}

.button_heart:hover {
    opacity: .5;
}