.header {
    border-bottom: 1px solid white;
    margin: 45px auto 40px auto;
    max-width: 880px;
    width: 100%;
}

@media screen and (max-width: 920px) {
    .header{
        margin-top: 28px;
        margin-bottom: 42px;
    }
}