.profile__position {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 920px) {
    .profile__position {
        font-size: 14px;
        line-height: 17px;
        max-width: 189px;
        text-align: center;
        margin-left: 42px;
    }
}