.button_save {
    min-height: 50px;
    max-width: 358px;
    border-radius: 2px;
    background-color: black;
    margin-top: 48px;
    margin-right: 36px;
    margin-left: 36px;
    margin-bottom: 37px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.button_save:hover {
    opacity: .8;
}

@media screen and (max-width: 600px) {
    .button_save {
        max-width: 242px;
        margin-top: 45px;
        margin-right: 22px;
        margin-left: 22px;
        margin-bottom: 25px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
}