.popup__field-position {
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
    width: 358px;
    height: 27px;
    padding: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
}

@media screen and (max-width: 600px) {
    .popup__field-position {
        max-width: 238px;
        margin-right: 22px;
        margin-left: 22px;
    }
}