.button__edit {
    background-image: url(../../../images/profile/EditButton.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    background-color: transparent;
    padding: 0;
    margin: 0 0 34px 0;
    cursor: pointer;
}

.button__edit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 920px) {
    .button__edit {
        height: 18px;
        width: 18px;
    }
}