.profile__info{
    color: #FFFFFF;
    max-width: 366px;
    display: flex;
    flex-direction: row;
    max-width: 556px;
}

@media screen and (max-width: 920px) {
    .profile__info {
        flex-direction: column;
        align-items: center;
    }
}