.button_close {
    background-image: url(../../../images/button/closeButton.png);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: 0;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 600px) {
    .button_close {
        right: -3px;
        top: -35px;
        height: 20px;
        width: 20px;
        background-size: cover;
    }
}