.button_add {
    background-image: url(../../../images/button/addButton.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    height: 50px;
    width: 150px;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

@media screen and (max-width: 920px) {
    .button_add {
        width: 280px;
        margin-left: 11px;
    }
}